
@Model xChatEntities.ListUserConnect;

@{
    ViewBag.Title = "Home Page";
}
<p>Content here. <a class="alert" href=#>Alert!</a></p>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).on("click", ".alert", function (e) {
        bootbox.confirm({
            title: "Trasferencia de Chat",
            message: "Desea transferir el Chat de " + "luigui" + " a " + "jose" + " ?.",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Aceptar'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirmar'
                }
            },
            callback: function (result) {
                if (result) {
                    console.log('Se confirmo la transferencia de Chat');
                } else {
                    console.log('Se cancelo la transferencia de Chat');
                }

            }
        });
    });
</script>

<input type="hidden" id="displayname" value="" />
<input type="hidden" id="chatId" value="0" />
<input type="hidden" id="AccountManagerId" value="0" />
<input type="hidden" id="ModuleAppId" value="0" />
<input type="hidden" id="UserName" value="" />
<input type="hidden" id="UserEmail" value="" />
<input type="hidden" id="UserToken" value="" />
<input type="hidden" id="ManagerToken" value="" />

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="@xChatEntities.Constants.Url.SignalRHub"></script>



}