@{
    ViewBag.Title = "Chat Manager";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" id="name" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" id="message" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="btn btn-success" id="sendmessage" value="enviar" />
        </div>
    </div>
    <p>Listado de Mensajes</p>
    <div class="row">
        <ul id="discussion"></ul>
    </div>
</div>

<input type="hidden" id="displayname" />
<input type="hidden" id="chatId" value="0" />
<input type="hidden" id="managerToken" value="" />

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="@xChatEntities.Constants.Url.SignalRHub"></script>

    <script type="text/javascript">

        $(function ()
        {
            $.support.cors = true;

            $.connection.hub.url = "@xChatEntities.Constants.Url.SignalR";

            var Counter = $.connection.counterHub;

            Counter.client.receivedFromManager = function (obj) {

                var divName = $("<div />").text(obj.UserName).html();
                var divMessage = $("<div />").text(obj.Message).html();

                $("#chatId").val(obj.ChatId);
                $("#managerToken").val(obj.ManagerToken);

                $("#discussion").append("<li><strong>" + divName + ": </strong> " + divMessage + "</li>");

                //alert("entro alguien!");
            };

            $.connection.hub.start().done(function () {

                $("#sendmessage").click(function () {

                    var obj = {
                        ChatId: $("#chatId").val(),
                        ModuleAppId: "1",
                        UserName: $("#name").val(),
                        UserEmail: "jhurtado73@hotmail.com",
                        Message: $("#message").val(),
                        DateMessage: "",
                        ManagerToken: $("#managerToken").val()
                    };

                    Counter.server.sendToManager(obj);

                    $("#message").val("").focus();

                });

            });

        });

    </script>

}