<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- local file target -->
    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="user@gmail.com"
            smtpPassword="password"
            enableSsl="true"
            from="emailaddress@gmail.com"
            to="recipient@example.com"
            cc="alice@example.com;bob@example.com;charlie@example.com"
    />

    <target name="fileTarget"
           xsi:type="File"
           fileName="C:\logs\BodyLogic.log"
           layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
App Domain: ${appdomain}${newline}
Call Site: ${callsite}${newline}
Log Exception: ${exception}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
InnerException: ${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}${newline}
Time Stamp: ${longdate}${newline}
Logger: ${logger}${newline}
Machine Name: ${machinename}${newline}
User Name: ${windows-identity:domain=true}${newline}
ThreadID: ${threadid}${newline}
Xirect Message: ${message}${newline}" />

    <!-- database target -->
    <target name="database"
            xsi:type="Database"
            connectionStringName="NLog"
            commandText="exec dbo.AsiliInsertNLog_Test
                          @level,
                          @AppDomain,
                          @callSite,
                          @log_exception,
                          @type,
                          @message,
                          @stackTrace,
                          @innerException,
                          @logger,
                          @machinename,
                          @user_name,
                          @threadid,
                          @additionalInfo">
      <parameter name="@level" layout="${level}" />
      <parameter name="@appdomain" layout="${appdomain}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                 layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@user_name" layout="${windows-identity:domain=true}" />
      <parameter name="@threadid" layout="${threadid}" />
      <parameter name="@additionalInfo" layout="${message}" />
    </target>
  </targets>

  <rules>
    <!--
      The following are the allowed log levels (in descending order):
      Level Example
      Fatal Highest level: important stuff down
      Error For example application crashes / exceptions.
      Warn Incorrect behavior but the application can continue
      Info Normal behavior like mail sent, user updated profile etc.
      Debug Executed queries, user authenticated, session expired
      Trace Begin method X, end method X etc
      Off      Turn off logging
    -->
    <!-- local file logger -->
    <logger name="*" minlevel="Info,Fatal" writeTo="fileTarget" />
    <!-- Email logger -->
  </rules>
</nlog>