@model List<xChatEntities.AccountManagerConnect>

@{
    ViewBag.Title = "Manager";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/StyleWhatsapp/styleWhatsapp.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width:100%; height:100%">

    <div class="app-one" style="overflow-y:scroll;">

        <div class="col-sm-3 side">

            <div class="side-one">

                <div class="row heading" style="font-weight: 700">
                    Agentes
                </div>

                <div class="sideBar" style="overflow-y: scroll;">

                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (xChatEntities.AccountManagerConnect item in Model)
                        {
                            <div class="sideBar-main sideBar-body">
                                <div class="js-reload-details row" data-url='@Url.Action("AgentList", "Manager", new { agentId = item.AccountManagerId })'>
                                    <div class="col-sm-3 col-xs-3 sideBar-avatar" style="width: 42px;">
                                        <div class="avatar-icon">
                                            <img src="~/Content/Imagenes/user-profile.png" />
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-9 sideBar-main">
                                        <div class="row">
                                            <div class="col-sm-7 col-xs-7 sideBar-name">
                                                <span class="name-meta">
                                                    @item.AccountManagerName
                                                </span>
                                            </div>
                                            <div class="col-sm-5 col-xs-5 pull-right sideBar-time">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="justify-content:flex-end">
                                        <a href="#" class="badge badge-primary">Move To</a>                                    
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <div id="loader" style="display:none"></div>
        </div>

        <div class="col-sm-3 side">
            <div class="side-one">
                <div class="row heading" style="font-weight: 700">
                    Usuarios
                </div>
                <div class="sideBar" id="userActiveShow" style="overflow-y: scroll;">

                </div>
            </div>
            <div id="loader" style="display:none"></div>
        </div>

        <div class="col-sm-6 conversation">
            <div class="heading" style="font-weight: 700">

                <div class="heading-avatar-icon">
                    Chat
                    <img src="~/Content/Imagenes/imgMessage.png" />
                    <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                        <span id="action_menu_btn">
                            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                        </span>

                    </div>
                </div>

            </div>
            <div class="action_menu selected" style="display: none;">
                <ul id="optionMenu">
                    <li data-input="1">Cerrar Chat</li>
                    <li data-input="2">Mover Chat</li>
                    <li data-input="3">Capturar Chat</li>
                    <li data-input="4">Descargar Chat</li>
                </ul>
            </div>
            <div class="message" id="divConversations" style=" overflow-y: scroll;">

            </div>


        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">

        $(function () {
            
            $('.js-reload-details').on('click', function (evt) {
                evt.preventDefault();
                evt.stopPropagation();

                var $detailDiv = $('#userActiveShow'),
                    url = $(this).data('url');

                $.get(url, function (data) {
                    $detailDiv.html(data);
                });
            });

            $(document).on('click', '#action_menu_btn', function () {
                $('.action_menu').toggle();
            });

        });

    </script>

}