@model List<xChatEntities.UserConnect>

@if (Model != null && Model.Count > 0)
{
    foreach (xChatEntities.UserConnect item in Model)
    {
        <div class="sideBar-main sideBar-body">

            <div class="js-users row" data-url='@Url.Action("GetConversation", "Manager", new { chatId = item.ChatId })'>

                <div class="col-sm-3 col-xs-3 sideBar-avatar" style="width: 42px;">
                    <div class="avatar-icon">
                        <img src="~/Content/Imagenes/user-profile.png" />
                    </div>
                </div>

                <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                        <div class="col-sm-7 col-xs-7 sideBar-name">
                            <span class="name-meta">
                                @item.UserName
                            </span>
                        </div>
                        <div class="col-sm-5 col-xs-5 pull-right sideBar-time">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }
}

            @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

            <script>

                $(function () {

                    $('.js-users').on('click', function (evt) {
                        evt.preventDefault();
                        evt.stopPropagation();

                        var $detailDiv = $('#divConversations'),
                            url = $(this).data('url');

                        $.get(url, function (data) {
                            $detailDiv.html(data);
                        });
                    });

                });


            </script>

